@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
.flexed {
  display: flex;
  flex-direction: column;
}
.flexed-row {
  display: flex;
  flex-direction: row;
}
