@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-poppins;
}

body {
  @apply relative bg-gradient-to-b from-[#E9EFFF] to-[#FFFFFF];
}

.base_container {
  @apply mx-auto max-w-sm px-3 sm:max-w-md md:max-w-xl lg:max-w-3xl xl:max-w-5xl 2xl:max-w-6xl;
}
.form_container {
  @apply mx-auto w-full sm:max-w-md md:max-w-xl lg:max-w-3xl xl:max-w-5xl 2xl:max-w-6xl;
}
.inner_container {
  @apply w-full text-sm;
}
.inner_container table {
  @apply w-full table-fixed;
}

.inner_container table tr {
  height: 1em;
}
.inner_container table td {
  overflow: hidden;
}
.img_container {
  #main {
    @apply max-h-[450px] max-w-[450px];
  }
  #inverse {
    @apply max-h-[150px] max-w-[150px];
  }
  #dull {
    @apply max-h-[200px] max-w-[200px];
  }
  #rainbow {
    @apply max-h-[300px] max-w-[300px];
  }
}
.table_container tbody tr {
  @apply border-b-2 border-b-gray-300 border-opacity-40;
}

.table_container tbody td,
.table_container tbody td th {
  @apply pr-4;
}

/* Hover effect for the role part */
.table_container tbody tr > td:first-child {
  @apply hover:text-[#5f5e5e];
}

.table_container tbody td {
  @apply pb-5;
}

.drep_white_gradient {
  @apply bg-gradient-to-b from-[#E9EFFF] to-[#FFFFFF];
}

.drep_radial_bg {
  background: radial-gradient(
    circle closest-side,
    #f10b314d 0%,
    #ffffff00 100%
  );
}

.drep_bg {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 51, 173, 0.97),
    rgba(0, 41, 138, 0.97)
  );
}

.note-modal-width {
  @apply w-[1200px];
}

.toggle-tab {
  @apply relative;
}

.toggle-tab::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.toggle-tab.active::after {
  background-color: #007bff;
}

.toggle-tab.active {
  background-color: #ffffff;
}

.tableWrapper {
  padding: 1rem 0;
  overflow-x: auto;
}

.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}

.blur-container {
  backdrop-filter: blur(2px);
}

.mdxeditor {
  @apply min-h-40 w-full rounded-xl bg-white;
}
.mdxeditor-toolbar {
  @apply bg-black;
}
.mdxeditor-diff-source-wrapper {
  @apply bg-white;
}
.dual-bg {
  background-image: url('/img/doublecoin-top.png'),
    url('/img/doublecoin-bottom.png');
  background-position:
    top right,
    bottom right;
  background-repeat: no-repeat, no-repeat;
  background-size: auto, auto;
}
table.dreps-table .drep_always_abstain, table.dreps-table .drep_always_no_confidence {
  @apply border my-1 px-4;
}

table.dreps-table .drep_always_abstain > td,
table.dreps-table .drep_always_no_confidence > td {
  @apply px-4 py-2;
}

#acknowledgements details {
  @apply border-b-2 border-b-gray-300 border-opacity-40 bg-white bg-opacity-95 p-5 lg:opacity-100;
}

#acknowledgements details summary {
  @apply flex cursor-pointer list-none items-center justify-between font-medium;
}

#acknowledgements details ul {
  @apply ml-5 flex list-disc flex-col gap-1;
}
#acknowledgements details span {
  @apply shrink-0;
}

#epoch-card {
  text-align: left !important;
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4b5563;
}
.loader {
  width: 35px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
    0%  {box-shadow: 60px 0 #0033AD, -60px 0 #4340ff;background: #0033AD }
    33% {box-shadow: 60px 0 #0033AD, -60px 0 #4340ff;background: #4340ff}
    66% {box-shadow: 60px 0 #4340ff,-60px 0 #0033AD; background: #4340ff}
    100%{box-shadow: 60px 0 #4340ff,-60px 0 #0033AD; background: #0033AD }
}


.parsed-content a {
  @apply text-primary-300;
  text-decoration: none;
}
.parsed-content a:hover {
  @apply text-primary-400
}
